---
import style from './connect.module.css'
import Icon from '../../components/icons/Icon.astro';
import Form from '../form/Form.astro'
---

<section id="connect" class={style.section}>

  <div class="campo">
    <h2 class={style.h2}>Conectar</h2>
    <h3 class={style.h3}>vamos a conectar</h3>
    <p class={style.paragraph}>Si se trata de un proyecto nuevo, sería genial si pudiera mencionar el alcance, el cronograma y el presupuesto.</p>
    <h4 class={style.h4}>Redes sociales</h4>

    <div class={style.contentIcons}>

      <a class={`linkedin ${style.campo}`} href="https://linkedin.com/in/rxtsel" target="_blank" >
        <Icon icon="linkedin" />
        ir a linkedin
      </a>

      <a class={`twitter ${style.campo}`} href="https://twitter.com/rxtsel" target="_blank" >
        <Icon icon="twitter" />
        ir a twitter
      </a>

      <a class={`instagram ${style.campo}`} href="https://instagram.com/rxtsel" target="_blank" >
        <Icon icon="instagram" />
        ir a instagram
      </a>

    </div>

  </div>

  <Form />

</section>
