---
import Icon from '../icons/Icon.astro'
import style from './button.module.css'
const { tipo, text } = Astro.props
---

{tipo === 'primary' && (
  <a class={`button ${style.primary}`} href='#contact' >
    {text}
  </a>
)}

{tipo === 'secundary' && (
  <a class={`button ${style.secundary}`} href='/pdf/CristhianMelo_CV.pdf' download target="_blank" title={text}>
    {text}
  </a>
)}

{tipo === 'tertiary' && (
  <a id="back-top" class={`button ${style.tertiary}`} href='#home'>
    {text}
  </a>
)}

{tipo === 'view' && (
  <a class={`button ${style.secundary} ${style.view}`} href='/pdf/CristhianMelo_CV.pdf' target="_blank" title={text}>
    <Icon icon="view" />
  </a> 
)
}

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const $ = element => document.querySelector(element)

    // back to top
    function backToTop() {
      const scrollUp = $('#back-top')
      if (this.scrollY >= 560) scrollUp.classList.add('show-scroll')
      else scrollUp.classList.remove('show-scroll')
    }

    window.addEventListener('scroll', backToTop)
  })
</script>
