---
import style from './button.module.css'
const {tipo, text} = Astro.props
---

{
  tipo === 'primary' && (
    <a class={`button ${style.primary}`} href='#connect' >
      {text}
    </a>
  )
}

{
  tipo === 'secundary' && (
    <a class={`button ${style.secundary}`} href='/pdf/CristhianMelo_CV.pdf' target="_blank" >
      {text}
    </a>
  )
}

{
  tipo === 'tertiary' && (
    <a id="back-top" class={`button ${style.tertiary}`} href='#home'>
      {text}
    </a>
  )
}
