---
import style from './hero.module.css'
import Button from '../button/Button.astro'
import Gallery from '../../components/gallery/Gallery.astro'
---

<section id="home" class={style.section}>

  <div class={style.content__info}>
    <figure class={style.figure}>
      <img class={style.img} src="profile.webp" alt="puede ser una foto de una persona con gorra gris y mirando hacia la izquierda">
      <figcaption class={style.figcaption}>@rxtsel</figcaption>
    </figure>
    <h1 class={style.name}>Hi, i'm Cristhian</h1>
    <h2 class={style.rol}>Frontend Developer</h2>
    <h3 class={`title ${style.slogan}`}>Passionate to craft amazing digital <span class={style.span}>product.</span></h3>
    <p class={style.description}>+1 year of experience as a web developer. A design and innovation enthusiast. Besides web design, I am currently learning programming languages like python and java.</p>
    <Button tipo="primary" text="Connect with me"/>
  </div>

  <Gallery lang="en"/>

</section>
