---
import style from './about.module.css'
import Button from '../../components/button/Button.astro';
import i18next, { t } from "i18next";
import { Trans } from "astro-i18next/components";
const lang = i18next.language
---

<section id="about-me" class={style.section}>
  <div class="campo">
      <h3 class={`title ${style.title}`}>{t("about.title")}</h3>
  </div>

  <div class={style.campo}>
    <h4 class={style.aboutme}>{t("about.aboutme")}</h4>
    <Trans i18nKey="about.paragraph">
      <p class={style.paragraph}>Currently living in Colombia with good food and amazing landscapes.  I like to explore minimalist designs with good functionality.

        I can spend hours every day exploring designs.

        I'm also active on <a class={style.social_link} href="https://twitter.com/rxtsel" target="_blank">twitter</a> and if you have any questions feel free to mention me, I'm sure it will be an interesting chat.
      </p>
    </Trans>
    <div class="buttons">
      <Button tipo="secundary" text={t("about.button")}/>
      <Button tipo="view" text={lang === 'es' ? 'Ver CV' : 'View CV'}/>
    </div>
  </div>

</section>

<style>
.buttons {
  display: flex;
  width: max-content;
  margin: 0 auto;
  column-gap: .5rem;
}

:global(.buttons > a > svg) {
  width: 1.8rem;
  height: 1.8rem;
}

@media (min-width: 768px) {
  .buttons {
    width: 100%;
  }

  :global(.buttons > a > svg) {
    width: 2.4rem;
    height: 2.4rem;
  }
}
</style>
