---
import style from './gridCard.module.css'
const { data } = Astro.props
---

{
  data.map(({ src, alt, video, id } ) => 
   !video ?
    (
      <div id={id} class={style.grid__campo}>
        <img loading="lazy" src={`${src}.webp`} alt={alt}>
      </div> 
    ) :
    (
      <div id={id} class={style.grid__campo}>
        <video autoplay="autoplay" loop="loop" muted="muted" playsinline poster={`${src}.webp`}>
          <source src={`${src}.mp4`} type="video/mp4" />
          <source src={`${src}.webm`} type="video/webm" />
        </video>
      </div>
    ) 
  )
}
