---
import style from "./gridCard.module.css";
const { data } = Astro.props;
import i18next from "i18next";
const lang = i18next.language;
const path = lang === "en" ? "/" : "";
---

{
  data.map(({ src, alt, video, id }) =>
    !video ? (
      <div id={id} class={style.grid__campo}>
        <img loading="lazy" src={`${path}${src}.webp`} alt={alt} />
      </div>
    ) : (
      <div id={id} class={style.grid__campo}>
        <video
          autoplay="autoplay"
          loop="loop"
          muted="muted"
          playsinline
          poster={`${path}${src}.webp`}
        >
          <source src={`${path}${src}.mp4`} type="video/mp4" />
          <source src={`${path}${src}.webm`} type="video/webm" />
        </video>
      </div>
    )
  )
}
