---
import style from './contact.module.css'
import Icon from '../icons/Icon.astro';
import Form from '../form/Form.astro'
import { t } from "i18next";
---

<section id="contact" class={style.section}>
  <div class="campo">
    <h2 class={style.h2}>{t("contact.campo.h2")}</h2>
    <h3 class={style.h3}>{t("contact.campo.h3")}</h3>
    <p class={style.paragraph}>{t("contact.campo.p")}</p>
    <h4 class={style.h4}>{t("contact.campo.h4")}</h4>
    <div class={style.contentIcons}>
      <a class={`linkedin ${style.campo}`} href="https://linkedin.com/in/rxtsel" target="_blank" >
        <Icon icon="linkedin" />
        {t("contact.social.linkedin")}
      </a>

      <a class={`twitter ${style.campo}`} href="https://twitter.com/rxtsel" target="_blank" >
        <Icon icon="twitter" />
        {t("contact.social.twitter")}
      </a>

      <a class={`github ${style.campo}`} href="https://github.com/rxtsel" target="_blank" >
        <Icon icon="github-alt" />
        {t("contact.social.github")}
      </a>
    </div>
  </div>
  <Form />
</section>
