---
import type { Data, TMetatags } from '@/types'

export interface Props {
  title: string
  metaFor: TMetatags
  postData?: Partial<Data>
  slug?: string
}

import Metatags from '@/components/Metatags.astro'
import Analitycs from '@/components/Analitycs.astro'
import { ViewTransitions } from 'astro:transitions'

const { title, metaFor, postData, slug } = Astro.props

const empty: Partial<Data> = {
  title: 'Cristhian Melo · Blog · Post',
  description: 'Post',
  keywords: 'Cristhian Melo, rxtsel, blog, desarrollo web, desarrollador'
}

const rollbackData = postData ? postData : empty
---

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width' />
  <title>{title}</title>
  <Metatags
    title={title}
    metaFor={metaFor}
    postData={rollbackData}
    slug={slug}
  />
  <Analitycs />
  <ViewTransitions />
</head>
