---
import Post from '@/components/Post.astro'
import Section from '@/components/Section.astro'
import { type CollectionEntry, getCollection } from 'astro:content'

const allPosts = await getCollection('blog')
const noDrafts = allPosts.filter((post) => !post.data.draft)
const formattedPosts = noDrafts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

type Post = CollectionEntry<'blog'>

import { getI18N } from '@/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Section title={i18n.blog.latestPosts}>
  <ul>
    {
      formattedPosts.slice(0, 3).map((post: Post) => (
        <li>
          <Post
            title={post.data.title}
            description={post.data.description}
            date={post.data.pubDate}
            url={`/blog/${post.slug}`}
          />
        </li>
      ))
    }
  </ul>
</Section>
