---
import Users from '@/icons/Users.astro'
import ArrowTr from '@/icons/ArrowTr.astro'

export interface Props {
  team: string[]
}

const { team } = Astro.props
const { currentLocale } = Astro
const teamTranslation = currentLocale === 'es' ? 'Equipo' : 'Team'
const titleLabel = currentLocale === 'es' ? 'Miembros del equipo' : 'Team members'
---

<div class="relative size-6 popover-content">
  <label
    class='popover-team hover:text-cBlue order-1 text-cWhite transition-colors duration-300 ease-in size-6 cursor-pointer'
    aria-label='Team members'
    title={titleLabel}
  >
    <input type='checkbox' class='check-popover-team' />
    <Users />
  </label>

  <nav
    id='popover-team-options'
    class='text-cWhite grid place-content-start absolute transform right-0 lg:left-0 mx-auto w-max p-2 rounded-md bg-cPaper shadow-2xl z-10'
  >
    <p class="font-bold text-cAccent">{teamTranslation}</p>
    {team.sort((a, b) => a.localeCompare(b)).map(member => (
      <a
        class={`text-cWhite hover:text-cBlue rounded transition-colors duration-300 ease-in  flex place-items-center gap-2 size-full z-10 group space-x-1 flex items-center hover:bg-cBlack px-4 py-2`}
        href={`https://github.com/${member}`}
        aria-label={`Member ${member}`}
        target="_blank" 
      >
        @{member}

        <div class='size-3 inline-block text-cAccent transition-all duration-300 ease-in group-hover:-translate-y-[1px] group-hover:translate-x-[1px] group-hover:text-cBlue'>
          <ArrowTr />
        </div>
      </a>
        
    ))}
  </nav>
</div>

<style>
  .check-popover-team {
    display: none;
  }

  #popover-team-options {
    opacity: 0;
    visibility: hidden;
    transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  :has(.check-popover-team:checked) #popover-team-options {
    animation: slide linear both;
    visibility: visible;
    @apply translate-y-[5px] opacity-100;
  }

  :has(.check-popover-team:checked) .popover-team {
    @apply text-cBlue;
  }

  @keyframes colorActive {
    to {
      @apply stroke-cBlue;
    }
  }
</style>

<script>
  const $langBtn = document.querySelector('.popover-team') as HTMLElement
  const $langCheckbox = document.querySelector(
    '.check-popover-team'
  ) as HTMLInputElement

  $langBtn.addEventListener('click', (e) => {
    if ($langCheckbox.checked) {
      const handleClickOutside = (e) => {
        if (!e.target.closest('.popover-team')) {
          $langCheckbox.checked = false
          document.body.removeEventListener('click', handleClickOutside)
        }
      }

      document.body.addEventListener('click', handleClickOutside)
    }
  })
</script>
