---
import FormatDate from '@/components/FormatDate.astro'
export interface PostProps {
  title: string
  description: string
  date: string
  url?: string
}

const { title, description, date, url } = Astro.props
---

<a href={url || ''}>
  <div
    class='flex flex-col rounded-md border border-neutral-300 dark:border-neutral-800 p-4 transition-[background] duration-150 ease-in hover:bg-neutral-300/30 dark:hover:bg-neutral-800/40'
  >
    <h2
      class='text-xl font-medium dark:text-cWhite'
      transition:name={`post ${title}`}
    >
      {title}
    </h2>
    <p
      class='my-2 dark:text-cAccent text-neutral-600'
      transition:name={`post ${description}`}
    >
      {description}
    </p>
    <FormatDate
      date={date}
      title={`Published on ${new Date(date).toDateString()}`}
    />
  </div>
</a>
