---
import ProjectCard from "@/components/ProjectCard.astro"
import { getProjectTransitionName, type Project } from "@/lib/projects"

type TaxonomyItem = {
  name: string
}

interface ProjectItem extends Project {
  taxonomyItems: TaxonomyItem[]
}

interface Props {
  projects: ProjectItem[]
}

const { projects } = Astro.props
---

<ul class="not-prose grid grid-cols-1 gap-0 sm:grid-cols-2 sm:gap-2">
  {
    projects.map((project) => (
      <li class="border odd:border-0 odd:border-x first-of-type:border-t sm:odd:border">
        <ProjectCard
          description={project.data.description}
          descriptionTransitionName={getProjectTransitionName(project, "description")}
          href={project.data.href}
          sourceTransitionName={getProjectTransitionName(project, "source")}
          sourceUrl={project.data.sourceUrl}
          tagsTransitionName={getProjectTransitionName(project, "tags")}
          taxonomyItems={project.taxonomyItems}
          title={project.data.title}
          titleTransitionName={getProjectTransitionName(project, "title")}
        />
      </li>
    ))
  }
</ul>
