---
import type { iProject } from '@/types'
import ArrowTr from '@/icons/ArrowTr.astro'
import Github from '@/icons/Github.astro'
import Lock from '@/icons/Lock.astro'
import Popover from '@/components/Popover.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

export interface Props {
  props: iProject
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { props } = Astro.props
const { title, titleEn, url, gh, description, descriptionEn, tags, team } =
  props

const titleT = lang === 'en' ? titleEn : title
const descriptionT = lang === 'en' ? descriptionEn : description
---

<article class='flex flex-col rounded-md border border-neutral-800 p-4'>
  <header class='mb-2 flex items-center justify-between text-cWhite'>
    {
      url ? (
        <a href={url} target='_blank' class='group text-xl font-medium'>
          <div class='flex items-center space-x-2 transition-colors duration-300 ease-in  hover:text-cBlue'>
            <h3>{title}</h3>
            <div class='size-3 inline-block text-cAccent transition-all duration-300 ease-in group-hover:-translate-y-[1px] group-hover:translate-x-[1px] group-hover:text-cBlue'>
              <ArrowTr />
            </div>
          </div>
        </a>
      ) : (
        <h3 class='text-xl font-medium'>{titleT}</h3>
      )
    }

    <div class='flex items-center space-x-3'>
      <!-- Team -->
      {team && <Popover team={team} />}

      <!-- Github -->
      {
        gh ? (
          <a
            href={gh}
            target='_blank'
            title={t('single.repository')}
            aria-label={t('single.repository')}
            class='order-2'
          >
            <div class='text-cWhite transition-colors duration-300 ease-in hover:text-cBlue size-6'>
              <Github />
            </div>
          </a>
        ) : (
          <div
            class='order-2 text-neutral-600 size-6'
            title={t('messages.ghPrivate')}
          >
            <Lock />
          </div>
        )
      }
    </div>
  </header>

  <p class='text-cAccent flex-grow'>{descriptionT}</p>

  <footer class='mt-3 flex items-center justify-between text-cWhite'>
    <div class='flex items-center gap-2 flex-wrap'>
      {
        tags?.sort().map((tag: string) => (
          <p
            class='truncate rounded-md border border-neutral-800 bg-neutral-900 px-2 py-1 font-mono text-xs'
            title={tag}
          >
            {tag}
          </p>
        ))
      }
    </div>
  </footer>
</article>
