---
import GitHubIcon from "@/assets/github.svg"
import Tags from "./Tags.astro"

type TaxonomyItem = {
  name: string
}

interface Props {
  description: string
  headingLevel?: "h2" | "h3"
  href?: string
  sourceUrl?: string
  taxonomyItems: TaxonomyItem[]
  title: string
  titleTransitionName?: string
}

const {
  description,
  headingLevel = "h3",
  href,
  sourceUrl,
  taxonomyItems,
  title,
  titleTransitionName,
} = Astro.props
const Heading = headingLevel
---

<article class="flex h-full flex-col gap-2 p-4">
  <Heading
    class="flex items-center justify-between text-lg font-medium"
    transition:name={titleTransitionName as string}
  >
    {
      href ? (
        <a
          class="link-underline"
          href={`${href}?utm_source=rxtsel.dev&utm_medium=referral`}
          rel="noopener noreferrer"
          target="_blank"
        >
          {title}
        </a>
      ) : (
        title
      )
    }

    {
      sourceUrl ? (
        <a
          aria-label={`View ${title} on GitHub`}
          class="ghost"
          href={`${sourceUrl}?utm_source=rxtsel.dev`}
          rel="noopener noreferrer"
          target="_blank"
          title="View source on GitHub"
        >
          <GitHubIcon class="text-foreground size-4.5 shrink-0" />
        </a>
      ) : (
        <GitHubIcon class="size-4.5 shrink-0 opacity-40" />
      )
    }
  </Heading>

  <p class="text-muted-foreground flex-1">{description}</p>

  <Tags tags={taxonomyItems} />
</article>
