---
const {data} = Astro.props;
import style from './gridPortfolio.module.css'
import Icon from '../icons/Icon.astro'
---

{
	data.map(({img, alt, title, description, url, technology, repo}) => 

  <li class={style.li} tabindex="10">
    <a class={style.url_content} href={url} target="_blank">

      <div class={style.img}>
        <img src={img} alt={alt} loading="lazy">  
      </div>

      <div class={style.info}>
        <h2 class={style.title}>{title} <span class={style.span}>&rarr;</span></h2>  
        <p class={style.description}>{description}</p>

        <div class={style.contentTechAndGithub}>
          <div class={style.technologys}>
            {
                technology.map((item: any) => (
                  <Icon icon={item} name={item}/>
                ))
            }
          </div>

          <a href={repo} class={style.githubUrl} target="_blank">
            <Icon icon="github" name="Source"/>
          </a>
        </div>

      </div>  

    </a>  
  </li>

	)
}
