---
import "../styles/global.css";
import Metatags from "../components/metatags/Metatags.astro";
import Analitycs from "../components/analitycs/Analitycs.astro";
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
const lang = i18next.language;
const path = lang === "en" ? "/" : "";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <Analitycs />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${path}16x16.svg`}
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${path}32x32.svg`}
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${path}96x96.svg`}
      sizes="96x96"
    />
    <link
      rel="apple-touch-icon"
      type="image/svg+xml"
      href="180x180.svg"
      sizes="180x180"
    />
    <title>{t("site.title")}</title>
    <Metatags />
    <link rel="manifest" href={`${path}manifest.json`} />
    <link rel="sitemap" href={`${path}sitemap-index.xml`} />
    <meta name="theme-color" content="#1A1A1A" />
    <HeadHrefLangs />
  </head>
  <body>
    <slot />
  </body>
</html>
