---
import style from './nav.module.css'
import Icon from '../icons/Icon.astro'
import i18next from "i18next";
import { t } from "i18next";

const lang = i18next.language;
---

<nav class={style.nav}>

  <a href="/" class={style.logo}>
    <img class={style.logo__img} src='logo.svg' alt="puede ser un logo del rostro de un gato negro con ojos blancos y una letra c blanca en la frente">
  </a>
  
  <div id="nav__links" class={style.nav__links}>

    <a href='#home'
      class={`home ${style.nav__url}`}
    >
      <Icon icon="home" />
      {t("nav.home")}
    </a>  

    <a href='#about-me'
      class={`about-me ${style.nav__url}`}
    >
      <Icon icon="about-me" />
      {t("nav.about")}
    </a>

    <a href='#portfolio'
      class={`portfolio ${style.nav__url}`} 
    >
      <Icon icon="portfolio" />
      {t("nav.portfolio")}
    </a>

    <a href='#contact'
      class={`contact ${style.nav__url}`} 
    >
      <Icon icon="contact" />
      {t("nav.contact")}
    </a>

  </div>

  <div id="burger" class={style.burger}>
    <Icon icon="burger" /> 
    <Icon icon="hidden" /> 
  </div>

  <button id="lang" class={style.lang_content} title={lang === 'es' ? 'Lenguaje' : 'Language'}>
    {lang === 'es' ? 'US' : 'ES'}
    <Icon icon="language" />
  </button>

  <div class={style.social}>
    <a class={style.campo} href="https://linkedin.com/in/rxtsel" target="_blank">
      <Icon icon="linkedin" />
      go to linkedin
    </a>
    <a class={style.campo} href="https://twitter.com/rxtsel" target="_blank">
      <Icon icon="twitter-alt" />
      go to twitter
    </a>
    <a class={style.campo} href="https://github.com/rxtsel" target="_blank">
      <Icon icon="github" />
      go to github
    </a>
  </div>

</nav>

<script is:inline >
  document.addEventListener('DOMContentLoaded', () => {
    const $$ = elements => document.querySelectorAll(elements)
    const $ = element => document.querySelector(element)

    // toggle language
    const lang = $('#lang');
    lang.addEventListener('click', () => {
      const langText = lang.innerText.trim();
      langText === 'US' ?
        window.location.pathname = '/en' :
        window.location.pathname = '';
    })

    const burger = $('#burger')
    const show = $('#show')
    const hidden = $('#hidden')
    const navbar = $('#nav__links')
    const anchors = $$('#nav__links a')

    // show and hidden navbar
    burger.addEventListener('click', () => {
      navbar.classList.toggle('active')
      if (navbar.classList.contains('active')) {
        show.style.display = 'none'
        hidden.style.display = 'block'
      } else {
        show.style.display = 'block'
        hidden.style.display = 'none'
      }
    }
    )

    anchors.forEach((anchor) => {
      anchor.addEventListener('click', () => {
        navbar.classList.remove('active')
        show.style.display = 'block'
        hidden.style.display = 'none'
      }
      )
    })

    // active color in anchors for each sections
    const sections = $$('section[id]')

    function isAnchorActive() {
      const scrollY = window.pageYOffset

      sections.forEach(current => {
        const sectionHeight = current.offsetHeight
        const sectionTop = current.offsetTop - 50
        const sectionId = current.getAttribute('id')
        const a = $(`#nav__links a[href*='${sectionId}']`)
        const svg = $(`#nav__links a svg#${sectionId}-icon path`)

        if (scrollY > sectionTop && scrollY <= sectionTop + sectionHeight) {
          a.classList.add('active-color')
          svg.classList.add('active-color')
        } else {
          a.classList.remove('active-color')
          svg.classList.remove('active-color')
        }

      }) 
    }

    window.addEventListener('scroll', isAnchorActive)
  })
</script>
