---
import style from './nav.module.css'
import Icon from '../icons/Icon.astro'
const {url, lang} = Astro.props
---

<nav class={style.nav}>

  <a href={lang === 'es' ? '/es' : '/'} class={style.logo}>
    <img class={style.logo__img} src={lang === 'en' ? 'logo.svg' : '/logo.svg' } alt="puede ser un logo del rostro de un gato negro con ojos blancos y una letra c blanca en la frente">
  </a>
  
  <div id="nav__links" class={style.nav__links}>

    <a href={lang === 'es' ? '/es/#home' : url === 'pageNotFound' ? '/#home' : '/#home'}
      class={`home ${style.nav__url}`}
    >
      <Icon icon="home" />
      {
        lang === 'es' ? ('Inicio') : ('Home') 
      } 
    </a>  

    <a href={lang === 'es' ? '/es/#about' : url === 'pageNotFound' ? '/#about' : '/#about'}
      class={`about ${style.nav__url}`}
    >
      <Icon icon="about" />
      {
        lang === 'es' ? ('Sobre') : ('About') 
      }
    </a>

    <a href={lang === 'es' ? '/es/#portfolio' : url === 'pageNotFound' ? '/#portfolio' : '/#portfolio'}
      class={`portfolio ${style.nav__url}`} 
    >
      <Icon icon="portfolio" />
      {
        lang === 'es' ? ('Portafolio') : ('Portfolio') 
      }
    </a>

    <a href={lang === 'es' ? '/es/#connect' : url === 'pageNotFound' ? '/#connect' : '/#connect'}
      class={`connect ${style.nav__url}`} 
    >
      <Icon icon="connect" />
      {
        lang === 'es' ? ('Conectar') : ('Connect') 
      }
    </a>

  </div>

  <div id="burger" class={style.burger}>
    <Icon icon="burger" /> 
    <Icon icon="hidden" /> 
  </div>

  <div id="lang" class={style.lang_content} title={lang === 'es' ? 'Lenguaje' : 'Language'}>
    {lang === 'es' ? 'EN' : 'ES'}
    <Icon icon="language" />
  </div>

  <div class={style.social}>
    <a class={style.campo} href="https://linkedin.com/in/rxtsel" target="_blank">
      <Icon icon="linkedin" />
      go to linkedin
    </a>
    <a class={style.campo} href="https://twitter.com/rxtsel" target="_blank">
      <Icon icon="twitter-alt" />
      go to twitter
    </a>
    <a class={style.campo} href="https://github.com/rxtsel" target="_blank">
      <Icon icon="github" />
      go to github
    </a>
  </div>

</nav>
