---
import Layout from '@/layouts/Layout.astro'
import { Code } from 'astro-expressive-code/components'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import FormatDate from '@/components/FormatDate.astro'
import { getBlogPosts } from '@/content/config'

export async function getStaticPaths() {
  const pages = await getBlogPosts()

  const paths = pages.map((page) => {
    return {
      params: { lang: page?.data.lang || 'en', slug: page.slug },
      props: page
    }
  })

  return paths
}

const { lang } = Astro.params
const page = Astro.props
const { Content } = await page.render()
---

<Layout
  title={`Blog · ${page.data.title}`}
  description={page.data.description}
  lang={lang}
>
  <Header />

  <main class='mx-auto pt-10 sm:pt-44 max-w-4xl px-4 md:px-0 text-cWhite'>
    <header class='pb-8'>
      <h1
        class='mb-2 text-4xl font-semibold pb-5'
        transition:name={`post ${page.data.title}`}
      >
        {page.data.title}
      </h1>
      <p
        class='text-xl
        text-[#d1d5db]
        font-medium'
        transition:name={`post ${page.data.description}`}
      >
        {page.data.description}
      </p>

      <footer class='flex justify-between items-center'>
        <div class='flex items-center gap-2 my-5 flex-wrap'>
          {
            page.data.tags.sort().map((tag: string) => (
              <p
                class='truncate capitalize rounded-md border border-neutral-800 bg-neutral-900 px-2 py-1 font-mono text-xs'
                title={tag}
              >
                {tag}
              </p>
            ))
          }
        </div>

        <FormatDate date={page.data.pubDate} />
      </footer>
    </header>

    <article
      class='content prose prose-invert mt-8 max-w-none prose-h3:mb-0 prose-code:bg-transparent'
    >
      <Content components={{ pre: Code }} />
    </article>
  </main>

  <Footer />
</Layout>

<style is:global>
  .content .expressive-code {
    @apply my-10;
  }

  @media (width <= 768px) {
    .content .expressive-code .copy button {
      width: 1.7rem !important;
      height: 1.7rem !important;
    }
  }
</style>
