---
import { LANGUAGES, useTranslations } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Post from '@/components/Post.astro'
import Footer from '@/components/Footer.astro'
import { getBlogPosts } from '@/content/config'

const { lang } = Astro.params

const posts = (await getBlogPosts())
  ?.filter((blog) => {
    return blog?.data?.lang === lang
  })
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

export async function getStaticPaths() {
  const keys = Object.keys(LANGUAGES)
  return keys.map((lang) => {
    return { params: { lang } }
  })
}

const t = useTranslations()
---

<Layout
  title='Cristhian Melo · Blog'
  description={t('blog.p1')}
  lang={lang}
  isNotHome
  keywords={t('site.keywords')}
>
  <Header />

  <main class='max-w-4xl py-20 lg:pb-10 sm:py-44 mx-auto px-2'>
    <h1
      class='text-cWhite text-[clamp(1.875rem,2vw+1rem,5rem)] font-bold flex flex-col leading-none mb-10'
    >
      Blog
    </h1>

    <hr class='pb-5 lg:pb-10 border-neutral-800' />

    {
      posts.length === 0 ? (
        <h2 class='text-cWhite text-[clamp(1.875rem,2vw+1rem,4rem)] font-bold leading-none mb-10 text-center min-h-[calc(100dvh-37dvh)] grid place-items-center'>
          No posts yet. 🥲
        </h2>
      ) : (
        <ul class='grid gap-4'>
          {posts.map((post) => (
            <li>
              <Post
                title={post.data.title}
                description={post.data.description}
                date={post.data.pubDate}
                url={`/${lang || ''}/blog/${post.slug}`}
              />
            </li>
          ))}
        </ul>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  .line::after {
    position: absolute;
    content: url('/subline.webp');
    height: 10px;
    width: 100%;
    top: 30px;
    left: 0px;
  }

  @media (width >= 1024px) {
    .line::after {
      top: 35px;
      left: 40px;
    }
  }
</style>
